@use "@/styles/variables" as var;
@use "@/styles/common" as common;

.container {
  width: 100%;
  background-color: antiquewhite;
  padding: var.fz(16);

  .title {
  }

  .content {

    .timelineContainer {
      @include common.section;

    }
  }
}