@use "@/styles/variables" as var;

.container {
  border: solid 1px #405d81;
  padding: var.fz(8);
  margin: var.fz(8);

  a {
    text-decoration: none;

    .icon {
      margin: var.fz(4);
      height: var.fz(20);
      width: var.fz(20);
      color: #011e3a;
      border: solid 1px white;
      border-radius: 50%;
      box-shadow: #405d81 0 0 .4px var.fz(1.2);
    }
  }
}