@use "./variables" as var;

$normalFontSize: var.fz(16);


@mixin container {
  margin: var.fz(16) 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

@mixin btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var.fz(12);
  border-radius: var.fz(10);
  background: #405d81;
  color: white;
  width: 100%;
  height: 100%;
  border: none;

  &:hover {
    background: #2e93e6;
  }
}