// All Project colors
$primaryColor: hsl(23, 63%, 50%);
$primaryColorLight: hsl(14, 90%, 91%);

// Fontsize
@function fz($size) {
  @return ($size / 16) * 1rem;
}

// Responsive
$breakpoint: (
        'sm': 576px,
        'md': 768px,
        'lg': 992px,
        'xl': 1200px,
);

@mixin mq($size) {
  @media screen and (min-width: #{map-get($breakpoint, $size)}) {
    @content;
  }
}
