@use "styles/variables" as var;
@use "styles/common" as common;

.questions {
  @include common.section;

  .heading {
    h3, h4 {
      padding-bottom: 1.5rem;
    }

    p {
      font-size: var.$smallFontSize;
      color: var.$blackColor;
      padding-bottom: 1rem;
    }
  }

  .container {
    display: grid;

    .accordion {
      display: grid;
    }

    .form {
      .heading {

      }

      .content {
        display: grid;
        gap: 1rem;

        input, textarea {
          background: var.$cardColor;
          width: 100%;
          padding: 1rem;
          border: none;
          outline: none;
          border-radius: var.$borderRadius;

          &::placeholder {
            font-size: var.$smallFontSize;
            color: var.$blackColor;
          }

        }

        textarea {
          height: 100px;
          border-radius: 10px;
        }


        .btn {
          @include common.btn;
        }
      }
    }

  }

}