@use "@/styles/variables" as var;

.container {
  background: var.$primaryColor;
  padding: var.fz(8);

  .content {
    display: flex;

    img {
      width: var.fz(40);
      height: var.fz(40);
      border-radius: 50%;
      margin-right: var.fz(8);
    }

    .postInfo {
      h2 {
        font-size: var.$h3FontSize
      }

      p {
        font-size: var.$smallFontSize;
        font-weight: 500;
        color: rgb(65, 78, 91);
      }
    }
  }

  .postBody {
    margin: var.fz(8);
    padding: var.fz(14) 0;
    background: #c49c82;
    border-radius: 10px;

    p {
      padding: var.fz(4);
      color: #0b3a6c;
    }
  }
}