@use "@/styles/variables" as var;
@use "@/styles/common" as common;


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem 2rem;
  position: fixed;
  border-bottom: solid 1.5px #c9b3b3;
  backdrop-filter: blur(5px);
  z-index: 1000;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      color: var.$blackColor;
      font-size: var.$h3FontSize;
      justify-content: center;
    }

  }

  .right {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }


  .icon {
    @include common.icon;
    font-size: var.$h1FontSize;
  }

  .menu {
    position: absolute;
    width: 70%;
    top: -100rem;
    right: 50%;
    left: 50%;
    transform: translate(-50%);
    background: rgba(255, 255, 255, 0.94);
    padding: 2rem;
    border-radius: 10px;
    transition: .8s ease-in-out;
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 3px 4px rgba(183, 167, 167, 0.51);

    .closeIcon {
      @include common.icon;
      position: absolute;
      bottom: -15px;
      right: 50%;
      left: 50%;
      color: var.$blackColor;
      transform: translate(-50%);
    }


    li {
      font-size: var.$h3FontSize;
      font-weight: 500;
      padding: 1rem 0;
      text-align: center;
      cursor: pointer;

      &:hover {
        color: var.$primaryColor;
        border-bottom: 1.5px solid var.$primaryColor;
        transition: .2s ease;
      }
    }
  }


  .signUpBtn {
    @include common.btn;
  }

  .show {
    top: 8rem;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    .closeIcon {
      @include common.icon;
      position: absolute;
      bottom: -15px;
      right: 50%;
      left: 50%;
      color: var.$blackColor;
      transform: translate(-50%);
    }
  }
}
