@use "./variables" as var;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background: var(--bgColor)
}


p {
  font-size: var(--smallFontSize);
}

html {
  font-size: 90%;
  height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img, video {
  height: auto;
  width: 100%;
}

.icon {
  font-size: var(--h2FontSize);
  cursor: pointer;
}


.btn .icon {
  margin-left: 0.5rem;
}

//::-webkit-scrollbar {
//  display: none;
//  width: 10px;
//  background: var.$primaryColor;
//}
//
//::-webkit-scrollbar-thumb {
//  width: 10px;
//  background: var.$primaryColor;
//}

// All this styling will take effect / apply in the later stage





