//All project colors
$primaryColor: hsl(23, 63%, 50%);
$primaryColorLight: hsl(14, 90%, 91%);
$bgColor: hsl(0, 0%, 100%);
$formColor: hsl(20, 42%, 87%);
$whiteColor: hsl(0, 0%, 100%);
$blackColor: hsl(0, 0%, 18%);
$greyText: hsl(0, 0%, 51%);
$inputColor: hsl(330, 12%, 97%);
$cardColor: hsl(300, 3%, 94%);

//// Font any Typography
$biggestFontSize: 2.5rem;
$h1FontSize: 1.6rem;
$h2FontSize: 1.25rem;
$h3FontSize: 1rem;
$normalFontSize: 0.938rem;
$smallFontSize: 0.813rem;
$borderRadius: 3rem;

// Responsive
$breakpoint: (
        'sm': 576px,
        'md': 768px,
        'lg': 992px,
        'xl': 1200px,
);

@mixin mq($size) {
  @media screen and (min-width: #{map-get($breakpoint, $size)}) {
    @content;
  }
}

@function fz($size) {
  @return ($size / 16) * 1rem;
}
