@use "@/styles/variables" as var;
@use "@/styles/common" as common;

.container {
  display: flex;
  height: calc(100vh - #{var.fz(80)});

  aside {
    display: flex;
    flex: 1;
    justify-content: center;

    position: relative;
    background-color: rgba(65, 100, 141, 0.58);

    .refreshBtn {
      position: absolute;
      padding: var.fz(4);
      bottom: 0;
      height: var.fz(40);
    }
  }

  main {
    flex: 3;
  }


}