@use "@/styles/variables" as var;

.container {

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var.fz(12);
    border-radius: var.fz(10);
    background: #405d81;
    color: white;
    width: var.fz(40);
    height: var.fz(20);
    padding: var.fz(10);

    &:hover {
      background: #2e93e6;
    }


  }

}
