@use "@/styles/variables" as var;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: var.fz(16);
    margin: var.fz(16) 0;
    text-decoration: underline;
    text-decoration-color: #315d8d;
    //text-underline-offset: auto;
  }

  ul {
    list-style: none;
    gap: var.fz(8);

    li {
      margin: var.fz(8) 0;
    }
  }

}