
.container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: antiquewhite;
  //overflow: hidden;

  .navbar {
    height: 100%;
    z-index: 2;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem 1rem;
    background: #FFF;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);

    .navLinks {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .navLink .dropDown {
        list-style: none;
        padding: 0 1rem;
        font-weight: 600;
        cursor: pointer;
      }


      .navLink {
        position: relative;
        color: black;

        a {
          text-decoration: none;
          color: black;
          font-weight: 600;
          font-size: 1.2rem;
          padding: 0;

          &:hover {
            background-color: black;
            color: white;
            border-radius: 10px;
          }

        }

      }


      .dropDown {
        align-items: center;
        //top: .5rem;
        //left: 4rem;
        transform: translate(4.5rem,-1rem);
        width: 7rem;
        position: absolute;
        margin: -.2rem -.5rem;
        background: white;
        border-radius: .5rem;
        font-size: 0.9rem;
        display: none;

        li {
          padding: .5rem;
          width: 100%;
        }
      }

      .service {
        &:hover {
          .dropDown {
            display: block;

            li:hover {
              background-color: black;
              color: #FFF;
              border-radius: .5rem;
            }
          }
        }
      }

    }
  }

  .mainContainer {
    display: flex;
    flex-direction: column;

    .secContainer {
      position: relative;
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(183, 93, 20, 0.51);
    }

    .content {
      position: absolute;
      height: 10rem;
      width: 100%;
      background-color: #a28156;
      right: -200rem;
      transition: .2s ease-in-out;
      justify-content: space-between;
      bottom: 0;
      z-index: 100;

    }

    .show {
      position: fixed;
      bottom: 0;
      right: 0;
      display: block;
      transition: .2s ease-in-out;

    }


  }


}

