@use "styles/variables" as var;
@use "styles/common" as common;

.reviews {
  .container {
    display: grid;
    gap: 1.5rem;

    .textDiv {
      .redText {
        font-size: var.$smallFontSize;
        display: block;
        color: var.$primaryColor;
        font-weight: 700;
      }

      h3 {
        font-size: var.$h2FontSize;
        color: var.$blackColor;
        padding: 1rem 0;
      }

      p {
        color: var.$blackColor;
      }

      .stars {
        display: flex;
        gap: .5rem;
        padding: 1rem 0;
      }

      .icon {
        color: var.$primaryColor;
        font-size: var.$h3FontSize;
      }

      .clientImages {
        display: flex;
        gap: 1rem;

        img {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          object-fit: cover;
          border: 2px solid rgb(255, 255, 255);
          box-shadow: 0 0 2px 2px rgb(251, 212, 194);
        }
      }
    }

    .imageDiv {
      margin: 1rem auto;
      border-radius: 10px;
      overflow: hidden;
      height: 100%;
      width: 300px;


      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}