@use "@/styles/variables" as var;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #1b61be;
  height: 40%;
  width: 60%;
  border-radius: 10px;
  gap: var.fz(16);

  h1 {
    color: red;
  }

  h2 {
    color: var.$primaryColor;
  }

  form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var.fz(12);

    .item {
      border: none;
      outline: none;
      height: var.fz(32);
      padding: var.fz(8);
      border-radius: 16px;

      &::placeholder {
        color: #0b3a6c;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .submit {
      position: relative;
      font-weight: 700;
      font-size: var.$h3FontSize;
      padding: var.fz(8);
      border-radius: 4px;
      bottom: #{var.fz(-30)};

      &:hover {
        background: #e2e8e8;
        cursor: pointer;
      }
    }
  }

}