@use "@/styles/variables" as var;

.container {
  display: flex;
  align-items: center;
  background: rgba(183, 93, 20, 0.51);
  padding: var.fz(8);
  box-shadow: 1px 1px 2px 2px #bb7943;

  form {
    display: flex;
    flex-direction: column;
    gap: var.fz(4);
    width: 100%;

    .textContainer {
      width: 100%;

      textarea {
        width: 100%;
        padding: var.fz(4);
        align-items: center;
        border: none;
        border-radius: var.fz(8);

        &::placeholder {
          color: #b75d14;
          text-align: left;
        }
      }
    }

    .buttonContainer {
      button {
        padding: var.fz(4) var.fz(8);
        text-align: center;
        background: #bb7943;
        border: none;
        border-radius: 10px;

        &:hover {
          background: #a17552;
        }
      }
    }
  }
}
.postContainer {
  padding-top: var.fz(8);
  display: flex;
  flex-direction: column;
  gap: var.fz(4);
  overflow: hidden;
}