@use "styles/variables" as var;
@use "styles/common" as common;

.footer {

  background: var.$primaryColorLight;
  padding: 2rem 0;

  .container {
    display: grid;
    gap: 1.5rem;
    text-align: center;
    align-items: flex-start;

    .logoDiv {
      .logo {
        display: flex;
        color: var.$blackColor;
        font-weight: 500;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        padding-bottom: .5rem;

        .icon {
          font-size: 25px;
          color: var.$blackColor;
        }


      }

      .socials {
        display: flex;
        gap: .5rem;
        justify-content: center;

        .icon {
          font-size: 25px;
          background: var.$primaryColor;
          border-radius: 50%;
          padding: 8px;
          color: var.$whiteColor;

          &:hover {
            color: var.$primaryColor;
            background: var.$primaryColorLight;
            border: 1px solid var.$primaryColor;

          }
        }

      }

      .link {
        display: grid;
        row-gap: .4rem;

        .title {
          padding-bottom: .5rem;
          color: var.$blackColor;
          font-weight: 700;


        }

        li {
          a {
            color: var.$primaryColor;
          }

          &:hover {
            transform: translate(10px);
          }
        }

        a, .phone .email {
          color: var.$blackColor;
          font-size: 13px;
          font-weight: 500;

        }


      }

    }

  }

}